$def with (session)
<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title>$config.site_name</title>
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">

  <!-- Le styles -->
  <link href="$config.static/css/bootstrap.css" rel="stylesheet">
  <link href="$config.static/css/bootstrap-theme.css" rel="stylesheet">
  <link href="$config.static/css/jqplot.min.css" rel="stylesheet">
  <link href="$config.static/css/daterangepicker-bs3.css" rel="stylesheet">
  <style type="text/css">
#reportrange {
  background: #ffffff;
  -webkit-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  -moz-box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  box-shadow: 0 1px 3px rgba(0,0,0,.25), inset 0 -1px 0 rgba(0,0,0,.1);
  color: #333333;
  padding: 8px;
  line-height: 18px;
  cursor: pointer;
}
  </style>
     
  <!-- HTML5 shim, for IE6-8 support of HTML5 elements -->
    <!--[if lt IE 9]>
      <script src="http://html5shim.googlecode.com/svn/trunk/html5.js"></script>
    <![endif]-->
     

  <script src="$config.static/js/jquery.min.js"></script>
  <script src="$config.static/js/bootstrap.min.js"></script>
  <!-- // <script src="$config.static/js/highcharts.js"></script> -->
  <script src="$config.static/js/jqplot.min.js"></script>
  <script src="$config.static/js/moment.min.js"></script>
  <script src="$config.static/js/daterangepicker.js"></script>

</head>
         
<body>

<nav class="navbar navbar-default" role="navigation">
  <!-- Brand and toggle get grouped for better mobile display -->
  <div class="navbar-header">
    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target=".navbar-ex1-collapse">
      <span class="sr-only">Toggle navigation</span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
      <span class="icon-bar"></span>
    </button>
    <a class="navbar-brand" href="#">哈工大计算机学院学生工作决策支持平台</a>
  </div>

  <!-- Collect the nav links, forms, and other content for toggling -->
  <div class="collapse navbar-collapse navbar-ex1-collapse">
    <ul class="nav navbar-nav">
      <li class="active"><a href="/status">查看学生心情指数</a></li>
      <li class="active"><a href="/keyword">查看关键词关注度</a></li>
$if session.is_admin: <li class="active"><a href="/admin">系统管理</a></li>

    </ul>
    <p class="navbar-text pull-right">$session.name 老师您好！您所负责的年级是：<strong>计算机学院$session.grade</strong>  <a href="/logout" class="navbar-link">退出</a></p>
    <ul class="nav navbar-nav navbar-right">
      <li><a href="#"></a></li>
    </ul>
  </div><!-- /.navbar-collapse -->
</nav>

